@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* RESPONSIVE */

@media only screen and (max-width: 508px) {
  #button-shop {
    width: 75px;
    height: 25px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 508px) {
  #button-shop-2 {
    width: 50px;
    height: 12px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 959px) {
  #box-hero {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }
}

@media only screen and (max-width: 471px) {
  .chakra-text.text-hero.css-0{
    font-size: 40px;
  }
}


/* RESPONSIVE */

/* BUTTON HOVER */

#button-shop:hover {
  background-color: #fdc21c;
  color: #303144;
}

#button-shop-2:hover {
  background-color: #3c1609;
  color: white;
}

/* BUTTON HOVER */

#button-shop {
  font-weight: 500;
  border-radius: 0%;
}

#button-shop-2 {
  margin-left: 14px;
  margin-right: 14px;
  font-weight: 500;
  border-radius: 0%;
  background-color: #c69b78;
  font-family: "poppins";
  width: 88px;
  height: 31px;
  color: black;

}

/* TEXT HERO */
.text-hero{
  font-family: "Raleway";
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
}
/* TEXT HERO */

/* CARD */

.chakra-card__footer.css-1a7q9t8{
  padding-top: 4px;
}

.product-list{
  width: 520px;
  height: 400px;
}

.chakra-heading.product-title{
  font-family: "Poppins";
  color: black;
  font-size: 30px;
}

.text-product{
  color: black;
  font-family: "Poppins";
  font-size: 20px;
}
/* CARD */